<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <p data-bind="html: getInstructions()"></p>
        <span class="payment-method-icons">
            <img width="125px" height="125px" data-bind="attr:{src: getIcons()}" />
        </span>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div id="paynopain-stored-cards" data-bind="visible: showStoredCards()">
            <p><label data-bind="text: $t('Stored cards')"></label></p>
            <select class="select required-entry" data-bind="event:{change:showSaveCard},
                            attr: {
                                    name: 'payment[' + getCode() + '][paynopain_stored_card]',
                                    id: 'paynopain-stored-cards',
                                    title: $t('Paynopain stored cards'),
                                    'data-validate': JSON.stringify({required:true})},
                            options: getStoredCards(),
                            optionsValue: 'source_uuid',
                            optionsText: 'desc'">
            </select>
            <div id="paynopain-save-card-button" data-bind="visible: saveCardCheckbox()">
                <input type="checkbox" name="payment[' + getCode() + '][paynopain_card]" id="paynopain_savecard"
                    data-bind="event:{change:saveCardChange}">
                <label for=" paynopain_savecard" data-bind="text: $t('Save card for future purchases.')"></label>
                <span class="paynopain-pci"
                    data-bind="text: $t('Protected by the Payment Card Industry Data Security Standard (PCI DSS).')"></span>
            </div>
        </div>

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit" data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        " disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>